<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>My First Django Page</title>
</head>
<body>
    <h1>{{ index }}</h1>
    <p>Beautiful is better than ugly.</p>
    <p>Explicit is better than implicit.</p>
    <p>Simple is better than complex.</p>
    <p>Complex is better than complicated.</p>
    <p>Flat is better than nested.</p>
    <p>Sparse is better than dense.</p>
    <p>Readability counts.</p>
    <p>Special cases aren't special enough to break the rules.</p>
    <p>Although practicality beats purity.</p>
    <p>Errors should never pass silently.</p>
    <p>...</p>

</body>

</html>
